# Node.js
**/node_modules/
**/dist/
**/.next/
**/.vercel/
**/.env
**/.env.local

# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# IDEs & System
**/.idea/
**/.vscode/
**/.DS_Store
Thumbs.db
*.apk
